@import "~@worldskills/bootstrap/scss/bootstrap";

$fa-font-path : '../node_modules/font-awesome/fonts';

@import "~font-awesome/scss/font-awesome";

.table > tbody > tr > td {
  @include media-breakpoint-up(md) { 
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
